@font-face {
    font-family: gagalin;
    src: url(../Fonte/Gagalin-Regular.otf);
}

@font-face {
    font-family: open sans;
    src: url(../Fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: anton;
    src: url(../Fonte/Anton-Regular.ttf);
}