:root {
  --cor-primaria: #41397c;
  --cor-secundaria: #00bf63;
  --cor-terciaria: #0e0e0e;
  --cor-quartenaria: #fff1db;
  --cor-texto-primaria: #ffffff;
  --cor-texto-secundaria: #d8d8d8;
  --cor-texto-terciaria: #0e0e0e;
  --cor-texto-quartenaria: #505050;
  --cor-texto-quinternaria: #d0d0d0;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
}

header,main,footer {
  width: 100%;
  padding: 0px 50px 0px 50px;
}

header {
  background: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-terciaria)
  );
  display: flex;
  height: 50px;
  justify-content: end;
  align-items: center;
  z-index: 1;
  padding: 0px 50px 0px 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style: none;
}

nav ul li a {
  color: var(--cor-texto-primaria);
  font-family: "Gagalin", sem serifa;
  letter-spacing: 0.15em;
  text-decoration: none;
  display: block;
  position: relative;
  transform-origin: 0%;
}

.nav{
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: .5s;
}

nav ul li a:hover > .nav{
  width: 100%;
} 

main {
  background-color: var(--cor-terciaria);
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 0;
}

main article {
  width: 100%;
}

main article h1 {
  font-family: anton;
  font-size: 2.5rem;
  color: var(--cor-texto-primaria);
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
}

#apresentacao {
  width: 100%;
  height: 700px;
  padding-top: 200px;
  padding-left: 100px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#intro h2 {
  font-family: "anton";
  font-size: max(6vw, 2em);
  letter-spacing: 0.1em;
  color: var(--cor-primaria);
}

#intro h4 {
  color: #e8e8e8;
  font-family: "open sans";
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1em;
}

#front {
  color: var(--cor-primaria);
}

#contato {
  height: 70px;
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 20px;
}

#contateme {
  background-color: #41397c;
  padding: 5px;
  font-size: 2.1vw;
  border-radius: 5px;
  font-family: "gagalin";
  letter-spacing: 0.19em;
  display: inline-block;
  filter: grayscale(0.9);
  transition: 0.5s;
  cursor: pointer;
}

#contateme:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

#contato a img {
  max-width: 3vw;
  height: auto;
  margin: 0px 10px 0px;
  filter: grayscale(0.9);
  transition: 0.5s;
}

#contato a img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

#sobre {
  position: relative;
  display: flex;
  padding: 0px 100px 0px 100px;
}

.linha-do-tempo {
  flex-basis: 50%;
}

.interatividade {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-min {
  position: relative;
  padding-left: 50px;
  font-family: open sans;
  color: var(--cor-texto-secundaria);
  height: 300px;
  width: 100%;
}

.sobre-min p {
  letter-spacing: 0.1rem;
  margin-left: 10px;
  margin-top: 2px;
}

#sobre::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: var(--cor-primaria);
  bottom: -10px;
  left: 145px;
}

.ponto-verde {
  position: absolute;
  color: var(--cor-secundaria);
  left: 0;
  top: 0;
  font-family: open sans;
  font-weight: 600;
  height: 100%;
}

.ponto-verde::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  right: -15px;
  background-color: var(--cor-secundaria);
  position: absolute;
}

.ponto-verde::before {
  content: "";
  height: 100%;
  width: 5px;
  right: -12.5px;
  top: 10px;
  background-color: var(--cor-primaria);
  position: absolute;
}

#projetos {
  background: linear-gradient(
    180deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(65, 57, 124, 1) 100%
  );
  color: white;
  padding: 0px 100px 0px 100px;
}

.float-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 50px;
  margin-bottom: 50px;
}

.float-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.float-element {
  width: 700px;
  height: 400px;
  background-color: var(--cor-quartenaria);
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
  gap: 10px;
  border:2px solid transparent ;
}

.float-element:hover{
  border: 2px solid var(--cor-secundaria)
}

.preview {
  width: 40%;
  height: 100%;
}

.imagem-projeto{
  width: 100%;
  height: 100%;
  background-color: red;
  scrollbar-width: none;
  background-image: url(../img/calc.png);
  background-size: cover;
}

.sobre_projeto {
  width: 60%;
  height: 100%;
}

.title_projeto {
  color: var(--cor-terciaria);
  font-family: anton;
  letter-spacing: 1px; 
}

.descriçao_projeto {
  color: var(--cor-texto-quartenaria);
  font-family: gagalin;
  margin-top: 20px;
  padding: 0px 5px;
  letter-spacing: 2px;
  line-height: 1.3rem;
}

.ver_projeto {
  margin: 20px 0px 0px 0px;
  display: flex;
  gap: 20px;
  align-items: baseline;
}


.codigo_projeto {
  background-color: var(--cor-texto-quinternaria);
  color: var(--cor-terciaria);
  font-family: open sans;
  font-weight: bold;
  display: flex;
  padding: 7px;
  border-radius: 20px;
  transform: scale(0.9);
  transition: .3s;
}

.github:hover{
  background-color: var(--cor-primaria);
  color: var(--cor-quartenaria);
  cursor: pointer;
  transform: scale(1);
}

.abrir:hover{
  cursor: pointer;
  color: var(--cor-quartenaria);
  background-color: var(--cor-secundaria);
  transform: scale(1);
}
.github:active{
  transform: scale(0.9);
}

.abrir:active{
  transform: scale(0.9);
}

.codigo_projeto img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tecnologias{
  display: flex;
  bottom: 10px;
  position: absolute;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.tecnologias div{
  display: flex;
  flex-direction: row;
}

.tecnologias div p{
  color: var(--cor-terciaria);
  font-family:gagalin ;
}

.tecnologias div img{
  width: 20px;
  height: 20px;
}

.subir{
  background-color:var(--cor-secundaria);
  position: fixed;
  z-index: 1;
  border-radius: 10%;
  padding: 5px;
  right: 10px;
  bottom: 10px;
  transition:.8s;
}

.subir:hover{
  transform: scale(1.2);
}


footer {
  background: linear-gradient(to left, #41397c, #0e0e0e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

footer span {
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-size: 0.5em;
  font-family: open sans;
}
