@font-face {
    font-family: gagalin;
    src: url(fonte/Gagalin-Regular.otf);
}

@font-face {
    font-family: open sans;
    src: url(fonte/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: anton;
    src: url(fonte/Anton-Regular.ttf);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

body {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:50px 1fr 30px;
    scrollbar-width: none;
    height: 100vh;
}

header, main, footer{
    padding:0px 50px 0px 50px;
}

header {
    background: linear-gradient(to right, #41397c, #0e0e0e);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style: none;
}

nav ul li a{
    color: white;
    font-family: 'Gagalin' , sem serifa ; 
    letter-spacing:0.15em;    
    text-decoration: none;
    display: block;                                     
}

main {
    background-color: #0e0e0e;
    color: white;
}

#apresentacao{
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('imagem/pc1.png');
    background-repeat: no-repeat;
    background-size: 700px 600px;
    background-position: 0% 70%;
}

#container{
    position: absolute;
    left: 50px;
    top: 20%;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
}

#intro h2{
    font-family: 'anton';
    font-size: 4em;
    letter-spacing:.1em;
    color:#00793e ;
}

#intro h4{
    color: #e8e8e8;
    font-family:'open sans';
    font-size: 1.5em;
    font-weight: 700;
    line-height:1em;
}

#front{
    color:#00793e;
    font-weight: 800;
}

#contato{
    height: 70px;
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 20px;
}

#contateme{
    background-color: #41397c;
    border-radius: 10px;
    padding: 10px;
    font-family: 'gagalin';
    letter-spacing: .19em;
    display: inline-block;
}

#contato a img{
    width: 30px;
    height: auto;
    margin: 0px 10px 0px;
    filter: grayscale(1);
    transition: .5s;
}

footer {
    background: linear-gradient(to left, #41397c, #0e0e0e);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span{
    color: #ffffff;
    font-size: 0.5em;
}